.nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
   
}

.nav-bsw {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.bg-sides {
    background-color: #394974;
    height: 100vh;
}
